.panel-main {
    list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#d49863; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}
.panel-main a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#d49863; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #d49863; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.panel-main a:hover {
    background: #b68356;
    -moz-transition: all 0.8s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.8s 0.01s ease;
    -webkit-transition: all 0.8s 0.01s ease;
}
.panel-main li {
    float: left;
    list-style: none;
}
body {
    background-image: url(images/bg.jpg);
}
.history-sessions {
    background-color: #fffffff5;
    width:250px;
    height:800px;
    border-radius: 15px;
}
.history-sessions li {
    list-style: none;
}
.site-body {
    background-color: #fffffff5;
    width:600px;
    height:890px;
    border-radius: 15px;
}
.auth-site-form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
    border: 4px solid #FF4444;; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
    background-color: #fffffff5;
}
.reg-site-form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
    border: 4px solid #FF4444;; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
    background-color: #fffffff5;
}
.popular {
    background-color: #fffffff5;
    width:250px;
    height:800px;
    border-radius: 15px;
}
.api-maps { 
    border-radius: 15px;
    margin-top: 14px;
}
.button-method-post {
    margin-top: 4px;
}
.information {
    font-family: arial;
    margin-left: 50px;
    margin-right: 50px;
}
.information h2 {
    padding-top: 5px;
}
#map {
    margin-top: 14px;
}